.header {
  background-color: lightblue;
}
#nome {
  margin-bottom: 5px;
  font-size: 20px;
}
#email {
  margin-bottom: 5px;
  font-size: 20px;
}
#senha {
  margin-bottom: 5px;
  font-size: 20px;
}
#botao {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  margin-left: 5%;
}

.form {
  padding: auto;
  margin-left: 10%;
}

#nomeCabe {
  padding: auto;
  margin-left: 10%;
}
