<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tópicos - Lista</title>
</head>
<body>
    <h1>Lista de Tópicos</h1>
    <table border="1">
        <tr>
            <td>Código</td>
            <td>Descrição</td>
            <td>Delete</td>
        </tr>

        {% for r in regs %}
            <tr>
                <td>{{r[0]}}</td>
                <td>{{r[1]}}</td>
                <td><a href="{{ url_for("article_page",article_id=article.id) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>