<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts - Lista</title>
</head>
<body>
    <h1>Lista de Posts</h1>
    <table border="1">
        <tr>
            <td>Código</td>
            <td>Título</td>
            <td>Descrição</td>
        </tr>

        {% for r in regs %}
            <tr>
                <td>{{r[0]}}</td>
                <td>{{r[1]}}</td>
                <td>{{r[2]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>